<!DOCTYPE html>
<html ng-app="todoApp">
<head>
  <title>Angular Todo Application</title>
  <meta name="viewport" content="width=device-width,
initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <!--SCRIPTS-->
  <script src="/js/todo-app.js"></script>
  <script src="/js/dependencies/sails.io.js"></script>
  <!--SCRIPTS END-->
</head>
<body>
<div class="container" ng-controller="TodoCtrl">
  <div class="jumbotron">
    <h1 align="center">Todo Application</h1>
    <br>

    <div id="todo-form" class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
          <div class="form-group">
            <input type="text" class="form-control input-lg
text-center" placeholder="Add Todo!"
                   ng-model="formData.value">
            <br>
            <button type="submit" class="btn btn-primary btn-lg"
                    ng-click="addTodo()">Add Todo
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="todo-list" class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="checkbox" ng-repeat="todo in todos">
        <label>
          <input type="checkbox" ng-click="removeTodo(todo)">
          {{ todo.value }}
        </label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
